node_modules
public
public/*
*.html
public/index.html
*.scss
public/index.html
public/index.js
public/style/css/dashboard.css
public/style/css/dashboard.css.map
public/style/css/eventCard.css
public/style/css/nav.css
public/style/css/nav.css.map
public/style/scss/dashboard.scss
public/style/scss/eventCard.scss
public/style/scss/nav.scss
public/views/editCreateEvents.html
public/views/eventCard.html
public/views/login.html
